html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.navbar {
	/* padding: 0.8rem 1rem !important; */
	box-shadow: 0px 3px 8px#000;
	/* justify-content: space-evenly !important; */
}
/* .navbar-collapse {
	margin-left: 40%;
} */
.dropdown-menu {
	background-color: rgba(52, 58, 64, 0.795) !important;
}
.dropdown-menu a {
	color: #fff;
}
.navbar-brand {
	font-family: 'Gochi Hand', cursive;
	font-size: 40px !important;
	background-color: rgb(9, 138, 5) !important;
	border-radius: 50%;
	padding: 10px;
	margin-right: 40px !important;
}
header .bg-dark {
	background-color: rgba(52, 58, 64, 0.596) !important;
}
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}

.content {
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'Gochi Hand', cursive;
	/* margin-top: 20%; */
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(52, 58, 64, 0.205);
	border-radius: 10px;
}
.content h1 {
	font-size: 70px;
}
.content p {
	font-size: 36px;
	color: #fff !important;
}
.chat-icon {
	position: fixed;
	color: #fff;
	background-color: rgba(9, 138, 5, 0.397);
	font-size: 40px;
	border-radius: 50px;
	padding: 5px 13px;
	top: 85%;
	left: 92%;
	z-index: 1000;
}
.scroll-icon {
	position: fixed;
	top: 72%;
	left: 92%;
	z-index: 100;
	visibility: hidden;
}
#scroll-btn {
	cursor: pointer;
	background-color: rgba(9, 138, 5, 0.397);
	color: #fff;
	font-size: 40px;
	border-radius: 50px;
	padding: 8px 22px;
}
.productos {
	min-height: 200%;
}
#products-img {
	filter: opacity(20%);
}
#servicios {
	background-color: rgb(34, 34, 34);
	color: #fff;
	text-align: center;
	padding: 100px 60px 60px 60px;
}
#servicios h1,
#servicios h2,
#servicios h4 {
	color: #fff;
}
#servicios .card {
	background-color: rgb(34, 34, 34);
	margin-top: 70px;
	border: none;
}
#servicios .display-4 {
	color: #fff;
	font-size: 22px !important;
}
.footer {
	height: auto;
	padding-bottom: 85px;
	position: relative;
	width: 100%;
	color: #fff;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #dddddd;
	background: #00003e;
	background: -webkit-linear-gradient(to right, #31bde6, #00003e);
	background: linear-gradient(to right, #31bde6, #00003e);
}

.footer h3 {
	border-bottom: 1px solid #bac1c8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7f8c8d;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828d;
	color: #fff;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.subscribe-btn .btn {
	border: medium none;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
	margin-top: 10px;
}
.subscribe-btn {
	overflow: hidden;
}

.social li {
	border: 2px solid #b5b5b5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #edeff1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #edeff1 !important;
}
.footer-bottom {
	background: #40e0d0;
	background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
	background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
	border-top: 1px solid #dddddd;
	padding-top: 20px;
	padding-bottom: 3px;
	color: #fff;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}
.footer h3 a:hover {
	text-decoration: none;
	color: rgb(190, 190, 190);
}
@media only screen and (max-width: 512px) {
	.content {
		width: 70%;
	}
	.container h1 {
		margin-top: 50px !important;
	}
}

@media only screen and (max-width: 764px) {
	.container h1 {
		font-size: 40px !important;
		margin-top: 20px !important;
	}
	.container h2 {
		font-size: 30px !important;
	}
}
@media only screen and (max-width: 1135px) {
	.chat-icon,
	.scroll-icon {
		left: 80%;
	}
}

/* Animate css*/

/* .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.animated.delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.animated.delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.animated.delay-4s {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.animated.delay-5s {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

.animated.fast {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}

.animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

.animated.slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.animated.slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@media (print), (prefers-reduced-motion) {
	.animated {
		-webkit-animation: unset !important;
		animation: unset !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes slideInRight {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}
@-webkit-keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
} */

/* @media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: auto;
		height: 100%;
	}
} */
